In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup as bs
# import time
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')

In [2]:
pd.set_option('display.max_columns', 200)

In [3]:
driver = webdriver.Firefox()

In [4]:
def dropdown(id):
    item = wait.until(EC.presence_of_element_located((By.ID,id)))
    driver.execute_script("arguments[0].style.display = 'block';", item)
    return Select(item)

In [5]:
driver.get("https://josaa.admissions.nic.in/Applicant/seatallotmentresult/currentorcr.aspx")
wait = WebDriverWait(driver, 20)

In [6]:
round_no = dropdown("ctl00_ContentPlaceHolder1_ddlroundno")

In [7]:
round_no.select_by_value("6")

In [8]:
ins_type = dropdown("ctl00_ContentPlaceHolder1_ddlInstype")
ins_type.select_by_value("ALL")

In [9]:
institute = dropdown("ctl00_ContentPlaceHolder1_ddlInstitute")
institute.select_by_value("ALL")

In [10]:
branch = dropdown("ctl00_ContentPlaceHolder1_ddlBranch")
branch.select_by_value("ALL")

In [11]:
category = dropdown("ctl00_ContentPlaceHolder1_ddlSeattype")
category.select_by_value("ALL")

In [12]:
submit = wait.until(EC.presence_of_element_located((By.ID, "ctl00_ContentPlaceHolder1_btnSubmit")))
submit.click()

In [13]:
soup = bs(driver.page_source, "html.parser")
driver.quit()

In [14]:
table = soup.find('table', attrs={'id':'ctl00_ContentPlaceHolder1_GridView1'})

In [15]:
table_rows = table.find_all('tr')

In [16]:
headers = []
for header in table.find_all('th'):
    headers.append(header.text.strip())

In [17]:
data = []
for row in table.find_all('tr'):
    row_data = []
    for cell in row.find_all('td'):
        row_data.append(cell.text.strip())
    data.append(row_data)

In [18]:
df = pd.DataFrame(data, columns=headers)

In [19]:
print(df)

                                            Institute  \
0                                                None
1         Indian Institute  of Technology Bhubaneswar
2         Indian Institute  of Technology Bhubaneswar
3         Indian Institute  of Technology Bhubaneswar
4         Indian Institute  of Technology Bhubaneswar
...                                               ...
10361  Indian Institute of Handloom Technology, Salem
10362  Indian Institute of Handloom Technology, Salem
10363  Indian Institute of Handloom Technology, Salem
10364  Indian Institute of Handloom Technology, Salem
10365  Indian Institute of Handloom Technology, Salem

                                   Academic Program Name Quota Seat Type  \
0                                                   None  None      None
1      Civil Engineering (4 Years, Bachelor of Techno...    AI      OPEN
2      Civil Engineering (4 Years, Bachelor of Techno...    AI      OPEN
3      Civil Engineering (4 Years, Bachelor of Techno...    AI       EWS
4      Civil Engineering (4 Years, Bachelor of Techno...    AI       EWS
...                                                  ...   ...       ...
10361  Handloom and Textile Technology (4 Years, Bach...    AI      OPEN
10362  Handloom and Textile Technology (4 Years, Bach...    AI       EWS
10363  Handloom and Textile Technology (4 Years, Bach...    AI   OBC-NCL
10364  Handloom and Textile Technology (4 Years, Bach...    AI        SC
10365  Handloom and Textile Technology (4 Years, Bach...    AI        ST

                                      Gender Opening Rank Closing Rank
0                                       None         None         None
1                             Gender-Neutral        12511        14997
2      Female-only (including Supernumerary)        18989        21229
3                             Gender-Neutral         1852         2341
4      Female-only (including Supernumerary)         3354         3354
...                                      ...          ...          ...
10361                         Gender-Neutral        86070       101502
10362                         Gender-Neutral        16842        17273
10363                         Gender-Neutral        31415        33784
10364                         Gender-Neutral        11685        15633
10365                         Gender-Neutral         7884         8129

[10366 rows x 7 columns]

In [20]:
df.shape

(10366, 7)

In [21]:
df.head(10)

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,None,None,None,None,None,None,None
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,12511,14997
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),18989,21229
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,2341
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3354,3354
5,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4326,5274
6,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Female-only (including Supernumerary),5905,7192
7,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,Gender-Neutral,1941,2799
8,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,Female-only (including Supernumerary),3985,3985
9,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST,Gender-Neutral,798,858

In [22]:
df.columns

Index(['Institute', 'Academic Program Name', 'Quota', 'Seat Type', 'Gender',
       'Opening Rank', 'Closing Rank'],
      dtype='object')

In [23]:
df.dtypes

Institute                object
Academic Program Name    object
Quota                    object
Seat Type                object
Gender                   object
Opening Rank             object
Closing Rank             object
dtype: object

In [24]:
df.describe()

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
count,10365,10365,10365,10365,10365,10365,10365
unique,119,211,6,10,2,7750,8120
top,"National Institute of Technology, Rourkela","Computer Science and Engineering (4 Years, Bac...",AI,OPEN,Gender-Neutral,42,138
freq,389,1412,4548,2097,6468,8,7

In [25]:
df.head()

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,None,None,None,None,None,None,None
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,12511,14997
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),18989,21229
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,2341
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3354,3354

In [26]:
df.index

RangeIndex(start=0, stop=10366, step=1)

In [27]:
df.drop(index=0, inplace=True)

In [28]:
df.head()

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,12511,14997
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),18989,21229
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,2341
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3354,3354
5,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4326,5274

In [29]:
df.shape

(10365, 7)

In [30]:
df.reset_index(drop=True, inplace=True)

In [31]:
df.head()

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,12511,14997
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),18989,21229
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,2341
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3354,3354
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4326,5274

In [32]:
df.shape

(10365, 7)

In [33]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [Institute, Academic Program Name, Quota, Seat Type, Gender, Opening Rank, Closing Rank]
Index: []

In [34]:
df.head()

,Institute,Academic Program Name,Quota,Seat Type,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,12511,14997
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),18989,21229
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,2341
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3354,3354
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4326,5274

In [35]:
df.loc[df.duplicated()]

Empty DataFrame
Columns: [Institute, Academic Program Name, Quota, Seat Type, Gender, Opening Rank, Closing Rank]
Index: []

In [36]:
df.loc[df.duplicated(subset=['Institute','Academic Program Name','Quota','Seat Type','Gender'])]

Empty DataFrame
Columns: [Institute, Academic Program Name, Quota, Seat Type, Gender, Opening Rank, Closing Rank]
Index: []

In [37]:
df.rename(columns={'Seat Type': 'Category', 'Academic Program Name': 'Branch'}, inplace=True)

In [38]:
df

,Institute,Branch,Quota,Category,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,12511,14997
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),18989,21229
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,2341
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3354,3354
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4326,5274
...,...,...,...,...,...,...,...
10360,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,OPEN,Gender-Neutral,86070,101502
10361,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,EWS,Gender-Neutral,16842,17273
10362,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,OBC-NCL,Gender-Neutral,31415,33784
10363,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,SC,Gender-Neutral,11685,15633
10364,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,ST,Gender-Neutral,7884,8129

In [39]:
df[~df['Opening Rank'].str.match('^\d+$')]

,Institute,Branch,Quota,Category,Gender,Opening Rank,Closing Rank
67,Indian Institute of Technology Bhubaneswar,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN (PwD),Gender-Neutral,150P,150P
79,Indian Institute of Technology Bhubaneswar,Electronics and Communication Engineering (4 Y...,AI,OPEN (PwD),Female-only (including Supernumerary),202P,202P
84,Indian Institute of Technology Bhubaneswar,Electronics and Communication Engineering (4 Y...,AI,OBC-NCL (PwD),Gender-Neutral,21P,21P
137,Indian Institute of Technology Bhubaneswar,Metallurgical and Materials Engineering (5 Yea...,AI,ST,Female-only (including Supernumerary),101P,101P
146,Indian Institute of Technology Bombay,"Aerospace Engineering (4 Years, Bachelor of Te...",AI,OBC-NCL (PwD),Gender-Neutral,74P,74P
...,...,...,...,...,...,...,...
2936,Indian Institute of Technology Jammu,"Materials Engineering (4 Years, Bachelor of Te...",AI,ST,Female-only (including Supernumerary),662P,662P
2954,Indian Institute of Technology Jammu,"Mechanical Engineering (4 Years, Bachelor of T...",AI,ST,Female-only (including Supernumerary),316P,316P
2984,Indian Institute of Technology Dharwad,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN (PwD),Gender-Neutral,104P,104P
3008,Indian Institute of Technology Dharwad,"Interdisciplinary Sciences (5 Years, Bachelor ...",AI,ST,Female-only (including Supernumerary),638P,638P
3011,Indian Institute of Technology Dharwad,"Mathematics and Computing (4 Years, Bachelor o...",AI,OPEN (PwD),Gender-Neutral,155P,155P

In [40]:
prepdf = df[~df['Opening Rank'].str.match('^\d+$')]

In [41]:
prepdf

,Institute,Branch,Quota,Category,Gender,Opening Rank,Closing Rank
67,Indian Institute of Technology Bhubaneswar,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN (PwD),Gender-Neutral,150P,150P
79,Indian Institute of Technology Bhubaneswar,Electronics and Communication Engineering (4 Y...,AI,OPEN (PwD),Female-only (including Supernumerary),202P,202P
84,Indian Institute of Technology Bhubaneswar,Electronics and Communication Engineering (4 Y...,AI,OBC-NCL (PwD),Gender-Neutral,21P,21P
137,Indian Institute of Technology Bhubaneswar,Metallurgical and Materials Engineering (5 Yea...,AI,ST,Female-only (including Supernumerary),101P,101P
146,Indian Institute of Technology Bombay,"Aerospace Engineering (4 Years, Bachelor of Te...",AI,OBC-NCL (PwD),Gender-Neutral,74P,74P
...,...,...,...,...,...,...,...
2936,Indian Institute of Technology Jammu,"Materials Engineering (4 Years, Bachelor of Te...",AI,ST,Female-only (including Supernumerary),662P,662P
2954,Indian Institute of Technology Jammu,"Mechanical Engineering (4 Years, Bachelor of T...",AI,ST,Female-only (including Supernumerary),316P,316P
2984,Indian Institute of Technology Dharwad,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN (PwD),Gender-Neutral,104P,104P
3008,Indian Institute of Technology Dharwad,"Interdisciplinary Sciences (5 Years, Bachelor ...",AI,ST,Female-only (including Supernumerary),638P,638P
3011,Indian Institute of Technology Dharwad,"Mathematics and Computing (4 Years, Bachelor o...",AI,OPEN (PwD),Gender-Neutral,155P,155P

In [42]:
df_orig = df.copy()

In [43]:
df_orig

,Institute,Branch,Quota,Category,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,12511,14997
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),18989,21229
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,2341
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3354,3354
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4326,5274
...,...,...,...,...,...,...,...
10360,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,OPEN,Gender-Neutral,86070,101502
10361,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,EWS,Gender-Neutral,16842,17273
10362,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,OBC-NCL,Gender-Neutral,31415,33784
10363,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,SC,Gender-Neutral,11685,15633
10364,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,ST,Gender-Neutral,7884,8129

In [44]:
df.drop(prepdf.index, inplace=True)

In [45]:
df

,Institute,Branch,Quota,Category,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,12511,14997
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),18989,21229
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,2341
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3354,3354
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4326,5274
...,...,...,...,...,...,...,...
10360,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,OPEN,Gender-Neutral,86070,101502
10361,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,EWS,Gender-Neutral,16842,17273
10362,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,OBC-NCL,Gender-Neutral,31415,33784
10363,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,SC,Gender-Neutral,11685,15633
10364,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,ST,Gender-Neutral,7884,8129

In [46]:
df[~df['Opening Rank'].str.match('^\d+$')]

Empty DataFrame
Columns: [Institute, Branch, Quota, Category, Gender, Opening Rank, Closing Rank]
Index: []

In [47]:
prepdf

,Institute,Branch,Quota,Category,Gender,Opening Rank,Closing Rank
67,Indian Institute of Technology Bhubaneswar,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN (PwD),Gender-Neutral,150P,150P
79,Indian Institute of Technology Bhubaneswar,Electronics and Communication Engineering (4 Y...,AI,OPEN (PwD),Female-only (including Supernumerary),202P,202P
84,Indian Institute of Technology Bhubaneswar,Electronics and Communication Engineering (4 Y...,AI,OBC-NCL (PwD),Gender-Neutral,21P,21P
137,Indian Institute of Technology Bhubaneswar,Metallurgical and Materials Engineering (5 Yea...,AI,ST,Female-only (including Supernumerary),101P,101P
146,Indian Institute of Technology Bombay,"Aerospace Engineering (4 Years, Bachelor of Te...",AI,OBC-NCL (PwD),Gender-Neutral,74P,74P
...,...,...,...,...,...,...,...
2936,Indian Institute of Technology Jammu,"Materials Engineering (4 Years, Bachelor of Te...",AI,ST,Female-only (including Supernumerary),662P,662P
2954,Indian Institute of Technology Jammu,"Mechanical Engineering (4 Years, Bachelor of T...",AI,ST,Female-only (including Supernumerary),316P,316P
2984,Indian Institute of Technology Dharwad,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN (PwD),Gender-Neutral,104P,104P
3008,Indian Institute of Technology Dharwad,"Interdisciplinary Sciences (5 Years, Bachelor ...",AI,ST,Female-only (including Supernumerary),638P,638P
3011,Indian Institute of Technology Dharwad,"Mathematics and Computing (4 Years, Bachelor o...",AI,OPEN (PwD),Gender-Neutral,155P,155P

In [48]:
df.reset_index(drop=True, inplace=True)

In [49]:
df

,Institute,Branch,Quota,Category,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,12511,14997
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),18989,21229
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,2341
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3354,3354
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4326,5274
...,...,...,...,...,...,...,...
10241,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,OPEN,Gender-Neutral,86070,101502
10242,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,EWS,Gender-Neutral,16842,17273
10243,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,OBC-NCL,Gender-Neutral,31415,33784
10244,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,SC,Gender-Neutral,11685,15633
10245,"Indian Institute of Handloom Technology, Salem","Handloom and Textile Technology (4 Years, Bach...",AI,ST,Gender-Neutral,7884,8129

In [50]:
prepdf.reset_index(drop=True, inplace=True)

In [51]:
prepdf

,Institute,Branch,Quota,Category,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN (PwD),Gender-Neutral,150P,150P
1,Indian Institute of Technology Bhubaneswar,Electronics and Communication Engineering (4 Y...,AI,OPEN (PwD),Female-only (including Supernumerary),202P,202P
2,Indian Institute of Technology Bhubaneswar,Electronics and Communication Engineering (4 Y...,AI,OBC-NCL (PwD),Gender-Neutral,21P,21P
3,Indian Institute of Technology Bhubaneswar,Metallurgical and Materials Engineering (5 Yea...,AI,ST,Female-only (including Supernumerary),101P,101P
4,Indian Institute of Technology Bombay,"Aerospace Engineering (4 Years, Bachelor of Te...",AI,OBC-NCL (PwD),Gender-Neutral,74P,74P
...,...,...,...,...,...,...,...
114,Indian Institute of Technology Jammu,"Materials Engineering (4 Years, Bachelor of Te...",AI,ST,Female-only (including Supernumerary),662P,662P
115,Indian Institute of Technology Jammu,"Mechanical Engineering (4 Years, Bachelor of T...",AI,ST,Female-only (including Supernumerary),316P,316P
116,Indian Institute of Technology Dharwad,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN (PwD),Gender-Neutral,104P,104P
117,Indian Institute of Technology Dharwad,"Interdisciplinary Sciences (5 Years, Bachelor ...",AI,ST,Female-only (including Supernumerary),638P,638P
118,Indian Institute of Technology Dharwad,"Mathematics and Computing (4 Years, Bachelor o...",AI,OPEN (PwD),Gender-Neutral,155P,155P

In [52]:
prepdf['Opening Rank']

0      150P
1      202P
2       21P
3      101P
4       74P
       ...
114    662P
115    316P
116    104P
117    638P
118    155P
Name: Opening Rank, Length: 119, dtype: object

In [53]:
prepdf

,Institute,Branch,Quota,Category,Gender,Opening Rank,Closing Rank
0,Indian Institute of Technology Bhubaneswar,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN (PwD),Gender-Neutral,150P,150P
1,Indian Institute of Technology Bhubaneswar,Electronics and Communication Engineering (4 Y...,AI,OPEN (PwD),Female-only (including Supernumerary),202P,202P
2,Indian Institute of Technology Bhubaneswar,Electronics and Communication Engineering (4 Y...,AI,OBC-NCL (PwD),Gender-Neutral,21P,21P
3,Indian Institute of Technology Bhubaneswar,Metallurgical and Materials Engineering (5 Yea...,AI,ST,Female-only (including Supernumerary),101P,101P
4,Indian Institute of Technology Bombay,"Aerospace Engineering (4 Years, Bachelor of Te...",AI,OBC-NCL (PwD),Gender-Neutral,74P,74P
...,...,...,...,...,...,...,...
114,Indian Institute of Technology Jammu,"Materials Engineering (4 Years, Bachelor of Te...",AI,ST,Female-only (including Supernumerary),662P,662P
115,Indian Institute of Technology Jammu,"Mechanical Engineering (4 Years, Bachelor of T...",AI,ST,Female-only (including Supernumerary),316P,316P
116,Indian Institute of Technology Dharwad,"Electrical Engineering (4 Years, Bachelor of T...",AI,OPEN (PwD),Gender-Neutral,104P,104P
117,Indian Institute of Technology Dharwad,"Interdisciplinary Sciences (5 Years, Bachelor ...",AI,ST,Female-only (including Supernumerary),638P,638P
118,Indian Institute of Technology Dharwad,"Mathematics and Computing (4 Years, Bachelor o...",AI,OPEN (PwD),Gender-Neutral,155P,155P

In [54]:
prepcopy = prepdf.copy()

In [55]:
prepdf.describe()

,Institute,Branch,Quota,Category,Gender,Opening Rank,Closing Rank
count,119,119,119,119,119,119,119
unique,23,52,1,6,2,104,105
top,Indian Institute of Technology Kharagpur,"Electrical Engineering (4 Years, Bachelor of T...",AI,ST,Gender-Neutral,3P,3P
freq,14,15,119,43,66,3,3